<template>
    <div>
        <div>
            <el-button @click="listTemp='list'">list</el-button>
            <el-button @click="listTemp='thumbnail'">thumbnail</el-button>
        </div>
        <div>
            <el-button @click="pageTemp='pagination'">pagination</el-button>
            <el-button @click="pageTemp='lazyload'">lazyload</el-button>
        </div>
        <div>
            <el-button @click="makeDataList">insert New Data</el-button>
        </div>
        <dgm-board :listTemp="listTemp" :pageTemp="pageTemp" :datas="dataList"></dgm-board>
    </div>
</template>

<script>
    import DgmBoard from "@/dgm-board";
    import Vue from 'vue';
    import ElementUI from 'element-ui';
    import 'element-ui/lib/theme-chalk/index.css';
    import moment from "moment";

    Vue.use(ElementUI);

    export default {
        name: "Example",
        mixins: [],
        components: {
            DgmBoard,
        },
        props: {
        },
        data() {
            return{
                listTemp: 'list',
                pageTemp: 'pagination',
                dataList: [],
                dataNumber: 1,
            }
        },
        created() {
            for (let i=0; i<11; i++) {
                this.makeDataList();
            }
        },
        mounted() {

        },
        beforeDestroy() {
        },
        destroyed() {},
        computed: {
        },
        methods:{
            makeDataList() {
                let date = moment().format('YYYY-MM-DD HH:mm:ss');
                let data = {
                    image: 'https://static.toiimg.com/photo/msid-67586673/67586673.jpg?3918697',
                    title: `title${this.dataNumber}`,
                    created_at: date,
                }
                this.dataList.push(data);
                this.dataNumber++;
            },
        },
        watch: {

        },
    }
</script>

<style scoped>

</style>
