<template>
    <div>
        <div v-for="(data, index) in ListData" :key="`list${index}`">
            <div>{{data.title}}</div>
            <div>{{data.created_at}}</div>
            <el-divider></el-divider>
        </div>
    </div>
</template>

<script>
    import Vue from "vue"
    import {Divider} from "element-ui";

    Vue.use(Divider);

    export default {
        name: "List",
        mixins: [],
        components: {
        },
        props: {
            ListData: {type: Array, default: () => []}
        },
        data() {
            return{

            }
        },
        created() {
        },
        mounted() {

        },
        beforeDestroy() {
        },
        destroyed() {},
        computed: {
        },
        methods:{

        },
        watch: {

        },
    }
</script>

<style scoped>

</style>
