<template>
    <div>
        <component :is="view.listComponent" :ListData="ListData" v-if="view.listComponent"></component>
        <component :is="view.pageComponent" :pageData="pageData" v-if="view.pageComponent"></component>
    </div>
</template>

<script>
    import TemplateUtils from "./utils/template";
    import DataUtils from "./utils/data";
    import "./style.scss"

    export default {
        props: {
            datas: {type: Array, default: () => []},
            listTemp: {type: String, default: 'list'},
            pageTemp: {type: String, default: 'pagination'},
        },
        provide() {
            return {
                setPage: this.setPage,
            }
        },
        data() {
            return{
                ready: false, // 보드 준비 여부값.
                AllListData: [], //prop 으로 넘어온 리스트 전체 데이터
                view: {
                    listTemp: 'list',
                    pageTemp: 'pagination',
                    listComponent: null,
                    pageComponent: null,
                },
                ListData: [], //페이지네이션으로 만든 리스트데이터
                pageData: {
                    page: 1,
                    size: 10,
                    total: 0,
                },
                TemplateUtils: new TemplateUtils(),
                DataUtils: new DataUtils(),
            }
        },
        created() {
            this.setViewTemplate();
            this.setAllDatas(this.datas);
        },
        mounted() {
        },
        beforeDestroy() {
        },
        destroyed() {
        },
        methods: {
            setAllDatas(allDatas) {
                let dataObj = this.DataUtils.setAllDatas(allDatas);
                this.setListData(dataObj);
            },

            setViewTemplate() {
                let viewObject = this.TemplateUtils.setViewTemp(this.listTemp, this.pageTemp);
                this.view.listTemp = viewObject.listTemp;
                this.view.pageTemp = viewObject.pageTemp;
                this.view.listComponent = viewObject.listComponent;
                this.view.pageComponent = viewObject.pageComponent;
                if(this.DataUtils.getPaginationType() != viewObject.paginationType) {
                    this.setPaginationType(viewObject.paginationType);
                }
            },

            setPaginationType(paginationType) {
                let dataObj = this.DataUtils.setPaginationType(paginationType);
                this.setListData(dataObj)
            },

            setPage(page) {
                let dataObj = this.DataUtils.setPage(page);
                this.setListData(dataObj);
            },

            setListData(dataObj) {
                this.pageData = dataObj.pageData;
                this.ListData = dataObj.datas;
                this.AllListData = dataObj.allDatas;
            }
        },
        watch: {
            'datas': {
                deep: true,
                handler: function(val) {
                    this.setAllDatas(this.datas);
                }
            },
            'listTemp': {
                deep: true,
                handler: function(val) {
                    this.setViewTemplate();
                }
            },
            'pageTemp': {
                deep: true,
                handler: function(val) {
                    this.setViewTemplate();
                }
            },
        },
    }
</script>

<style scoped>

</style>
