<template>
    <infinite-loading @infinite="loadMore" v-if="pageData.total > 0 && pageData.total > pageData.page * pageData.size">
        <span slot="no-more"></span>
        <span slot="no-results"></span>
    </infinite-loading>
</template>

<script>
    import Vue from "vue";
    import InfiniteLoading from 'vue-infinite-loading';

    Vue.use(InfiniteLoading);

    export default {
        name: "Lazyload",
        mixins: [],
        components: {
        },
        inject: ['setPage'],
        props: {
            pageData: {type: Object, default: {page: 1, size: 10, total: 0}}
        },
        data() {
            return{

            }
        },
        created() {
        },
        mounted() {

        },
        beforeDestroy() {
        },
        destroyed() {},
        computed: {
        },
        methods:{
            loadMore($state) {
                // EventBus.$emit('getBoardList')
                setTimeout(() => {
                    let page = this.pageData.page;
                    page = page + 1;
                    this.setPage(page);
                    $state.loaded();
                }, 500)
            },
        },
        watch: {

        },
    }
</script>

<style scoped>

</style>
