<template>
    <el-pagination
            v-if="pageData.total > 0"
            layout="prev, pager, next"
            :total="pageData.total"
            :current-page="pageData.page"
            @current-change="changePage"
    >
    </el-pagination>
</template>

<script>
    import Vue from "vue";
    import {Pagination} from "element-ui";

    Vue.use(Pagination);

    export default {
        name: "Pagination",
        mixins: [],
        components: {
        },
        inject: ['setPage'],
        props: {
            pageData: {type: Object, default: {page: 1, size: 10, total: 0}}
        },
        data() {
            return{

            }
        },
        created() {
        },
        mounted() {

        },
        beforeDestroy() {
        },
        destroyed() {},
        computed: {
        },
        methods:{
            changePage(event) {
                this.setPage(event);
            }
        },
        watch: {

        },

    }
</script>

<style scoped>

</style>
